body {
    text-align: center;
    font-size: 125%;
    font-family: $bodyFont;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: $orange;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: $headerFont;
    font-weight: 900;
}

h3 {
    font-weight: 400;
}