@media (min-width: 500px) {
    .about img:hover {
        box-shadow: rgba(236, 91, 57, 0.6) -5px 5px,
            rgba(236, 91, 57, 0.5) -10px 10px, 
            rgba(236, 91, 57, 0.6) -15px 15px,
            rgba(236, 91, 57, 0.5) -20px 20px,
            rgba(236, 91, 57, 0.4) -25px 25px,
            rgba(236, 91, 57, 0.3) -30px 30px,
            rgba(236, 91, 57, 0.2) -35px 35px;
    }
}

@media (min-width: 632px) {
    .hamburger,
    .sliding-menu {
        display: none;
    }

    .main-menu {
        display: flex;
    }
}

@media (min-width: 750px) {
    .proj1,
    .proj2,
    .proj3,
    .proj4 {
        display: flex;
        justify-content: space-between;
    }

    .info-container {
        max-width: 50%;
        margin: auto 0;
    }

    .proj1 .info-container,
    .proj3 .info-container {
        text-align: left;
        padding-left: 20px;
    }

    .proj2,
    .proj4 {
        flex-direction: row-reverse;
        .info-container {
            text-align: right;
            padding-right: 20px;
        }
    }
}

@media (min-width: 800px) {
    .about .wrapper {
        display: flex;
        justify-content: space-between;
        .about-text {
            width: 54%;
            text-align: left;
        }
        .about-img {
            width: 44%;
            margin: 0;
        }
    }

    .about img {
        margin-bottom: 25px;
    }
}

@media (min-width: 950px) {
    header h1 {
        font-size: 4rem;
    }
    .about .wrapper {
        justify-content: space-around;
    }
}