header,
.about,
.skills,
.projects,
.contact {
    padding: 80px 20px;
}

// Header styles

header {
    background-color: $tan;
    h1 {
        color: $orange;
        font-size: 3rem;
    }
    h3 {
        color: $brown;
        margin-bottom: 40px;
    }
}

// About section styles

.about {
    background-color: $brown;
    color: $tan;
    .about-img {
        max-width: 350px;
        margin: auto;
        img {
            border-radius: 10px;
            margin-bottom: 45px;
            box-shadow: rgba(236, 91, 57, 0.6) -5px 5px,
            rgba(236, 91, 57, 0.5) -10px 10px,
            rgba(236, 91, 57, 0.4) -15px 15px,
            rgba(236, 91, 57, 0.3) -20px 20px,
            rgba(236, 91, 57, 0.2) -25px 25px;
            transition-duration: 0.7s;
        }
    }
    .about-text {
        margin: auto 0;
    }
}

// Projects section styles

.projects {
    background-color: $tan;
    h2,
    h3,
    h4,
    p {
        color: $brown;
    }
    .img-container {
        margin-top: 25px;
    }
    p {
        margin-bottom: 25px;
    }
    h4 {
        text-transform: uppercase;
    }
}

// Skills section styles

.skills,
.contact {
    background-color: $grey;
    h2 {
        color: $violet;
        margin-bottom: 20px;
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .icon-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px 10px;
        i {
            margin: 0;
        }
        p {
            margin: 0;
            font-size: .8rem;
            color: $violet;
            text-transform: uppercase;
        }
    }
}

i {
    color: $violet;
    font-size: 4.5rem;
    margin: 5px;
}

// Contact section styles

.contact p {
    color: $violet;
    margin: 10px;
}

.linkedin i,
.github i,
.email i {
    font-size: 2.5rem;
}

.linkedin i:hover,
.github i:hover,
.email i:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    label {
        text-align: left;
        color: $violet;
        text-transform: uppercase;
        font-size: 1rem;
        margin: 10px 0;
        font-weight: 600;
    }
    input,
    textarea {
        border: none;
        background-color: white;
        padding: 5px;
    }
    textarea {
        resize: none;
    }
    button {
        width: 30%;
        padding: 12px 0;
        border: none;
        cursor: pointer;
        background-color: $violet;
        color: $grey;
        margin: 15px auto 0;
        text-transform: lowercase;
        font-size: 1rem;
        font-weight: 600;
    }
}

// Footer styles

footer {
    background-color: $brown;
    p {
        color: $tan;
        font-size: 1.1rem;
        padding: 18px 0;
    }
    .heart {
        color: $orange;
    }
}

