header,
.about,
.skills,
.projects,
.contact {
    padding: 50px 0;
}

header {
    background-color: $tan;
    h1 {
        color: $orange;
        font-size: 3rem;
    }
    h3 {
        color: $brown;
        margin-bottom: 40px;
    }
}

.about {
    background-color: $brown;
    color: $tan;
    .about-img {
        max-width: 350px;
        margin: 0 auto;
        img {
            border-radius: 10px;
            margin-bottom: 45px;
            box-shadow: rgba(236, 91, 57, 0.6) -5px 5px,
            rgba(236, 91, 57, 0.5) -10px 10px,
            rgba(236, 91, 57, 0.4) -15px 15px,
            rgba(236, 91, 57, 0.3) -20px 20px,
            rgba(236, 91, 57, 0.2) -25px 25px;
            transition-duration: 0.7s;
        }
    }
}

.projects {
    background-color: $tan;
    h2,
    h3,
    h4,
    p {
        color: $brown;
    }
    .img-container {
        margin-top: 25px;
    }
    p {
        margin-bottom: 25px;
    }
    h4 {
        text-transform: uppercase;
    }
}

.skills,
.contact {
    background-color: $grey;
    h2 {
        color: $violet;
        margin-bottom: 20px;
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .icon-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px 10px;
        i {
            margin: 0;
        }
        p {
            margin: 0;
            font-size: .8rem;
            color: $violet;
            text-transform: uppercase;
        }
    }
}

i {
    color: $violet;
    font-size: 4.5rem;
    margin: 5px;
}

.contact p {
    color: $violet;
}

.linkedin i {
    font-size: 3.5rem;
}

.linkedin i:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    background-color: $brown;
    p {
        color: $tan;
        font-size: 1.1rem;
        padding: 18px 0;
    }
    .heart {
        color: $orange;
    }
}

