html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  text-align: center;
  font-size: 125%;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.contact-button,
.info-container a {
  padding: 10px 20px;
  background-color: #ec5b39;
  color: white;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.contact-button:hover,
.contact-button:focus,
.projects a:hover,
.projects a:focus {
  background-color: white;
  color: #ec5b39;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  font-family: "Coustard", serif;
  font-weight: 900;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

h4 {
  font-size: 0.8rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

hr {
  margin: 60px 15px 40px;
  color: rgba(70, 58, 45, 0.2);
}

header,
.about,
.skills,
.projects,
.contact {
  padding: 80px 20px;
}

header {
  background-color: #f5eadc;
}
header h1 {
  color: #ec5b39;
  font-size: 3rem;
}
header h3 {
  color: #463a2d;
  margin-bottom: 40px;
}

.about {
  background-color: #463a2d;
  color: #f5eadc;
}
.about .about-img {
  max-width: 350px;
  margin: auto;
}
.about .about-img img {
  border-radius: 10px;
  margin-bottom: 45px;
  -webkit-box-shadow: rgba(236, 91, 57, 0.6) -5px 5px, rgba(236, 91, 57, 0.5) -10px 10px, rgba(236, 91, 57, 0.4) -15px 15px, rgba(236, 91, 57, 0.3) -20px 20px, rgba(236, 91, 57, 0.2) -25px 25px;
          box-shadow: rgba(236, 91, 57, 0.6) -5px 5px, rgba(236, 91, 57, 0.5) -10px 10px, rgba(236, 91, 57, 0.4) -15px 15px, rgba(236, 91, 57, 0.3) -20px 20px, rgba(236, 91, 57, 0.2) -25px 25px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.about .about-text {
  margin: auto 0;
}

.projects {
  background-color: #f5eadc;
}
.projects h2,
.projects h3,
.projects h4,
.projects p {
  color: #463a2d;
}
.projects .img-container {
  margin-top: 25px;
}
.projects p {
  margin-bottom: 25px;
}
.projects h4 {
  text-transform: uppercase;
}

.skills,
.contact {
  background-color: #626380;
}
.skills h2,
.contact h2 {
  color: #fba6ff;
  margin-bottom: 20px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.icons .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 10px;
}
.icons .icon-container i {
  margin: 0;
}
.icons .icon-container p {
  margin: 0;
  font-size: 0.8rem;
  color: #fba6ff;
  text-transform: uppercase;
}

i {
  color: #fba6ff;
  font-size: 4.5rem;
  margin: 5px;
}

.contact p {
  color: #fba6ff;
  margin: 10px;
}

.linkedin i,
.github i {
  font-size: 2.5rem;
}

.linkedin i:hover,
.github i:hover {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
form label {
  text-align: left;
  color: #fba6ff;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 600;
}
form input,
form textarea {
  border: none;
  background-color: white;
  padding: 5px;
}
form textarea {
  resize: none;
}
form button {
  width: 30%;
  padding: 5px 0;
  border: none;
  cursor: pointer;
  background-color: #fba6ff;
  color: #626380;
  margin: 15px auto 0;
  text-transform: lowercase;
  font-size: 1rem;
  font-weight: 600;
}

footer {
  background-color: #463a2d;
}
footer p {
  color: #f5eadc;
  font-size: 1.1rem;
  padding: 18px 0;
}
footer .heart {
  color: #ec5b39;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul a {
  padding: 10px 20px;
  background-color: #f5eadc;
  color: #463a2d;
  font-size: 1rem;
  font-weight: 600;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 5px;
  border: none;
  background-color: #f5eadc;
  cursor: pointer;
}
.hamburger i {
  color: #463a2d;
  font-size: 2.5rem;
}

.fa-xmark,
.main-menu {
  display: none;
}

.sliding-menu {
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: #463a2d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75vh;
}
.sliding-menu a {
  background-color: #463a2d;
  color: #f5eadc;
  padding: 20px;
  font-size: 2rem;
  font-family: "Coustard", serif;
  font-weight: 900;
}

.show-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 500px) {
  .about img:hover {
    -webkit-box-shadow: rgba(236, 91, 57, 0.6) -5px 5px, rgba(236, 91, 57, 0.5) -10px 10px, rgba(236, 91, 57, 0.6) -15px 15px, rgba(236, 91, 57, 0.5) -20px 20px, rgba(236, 91, 57, 0.4) -25px 25px, rgba(236, 91, 57, 0.3) -30px 30px, rgba(236, 91, 57, 0.2) -35px 35px;
            box-shadow: rgba(236, 91, 57, 0.6) -5px 5px, rgba(236, 91, 57, 0.5) -10px 10px, rgba(236, 91, 57, 0.6) -15px 15px, rgba(236, 91, 57, 0.5) -20px 20px, rgba(236, 91, 57, 0.4) -25px 25px, rgba(236, 91, 57, 0.3) -30px 30px, rgba(236, 91, 57, 0.2) -35px 35px;
  }
}
@media (min-width: 632px) {
  .hamburger,
.sliding-menu {
    display: none;
  }

  .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 750px) {
  .proj1,
.proj2,
.proj3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .info-container {
    max-width: 50%;
    margin: auto 0;
  }

  .proj1 .info-container,
.proj3 .info-container {
    text-align: left;
    padding-left: 20px;
  }

  .proj2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .proj2 .info-container {
    text-align: right;
    padding-right: 20px;
  }
}
@media (min-width: 800px) {
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .wrapper .about-text {
    width: 54%;
    text-align: left;
  }
  .about .wrapper .about-img {
    width: 44%;
    margin: 0;
  }

  .about img {
    margin-bottom: 25px;
  }
}
@media (min-width: 950px) {
  header h1 {
    font-size: 4rem;
  }

  .about .wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}